.button {
    font-family: var(--util);
    font-size: 1.5rem;
    padding: 0.25em 0.5em;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
    background-color: var(--button);
    color: var(--text);
    transition-property: box-shadow transform;
    transition-duration: 0.2s;
    font-weight: bold;
}

.button:hover, .button:focus {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 6px;
}