.button {
    font-family: var(--body);
    font-size: 1.5rem;
    padding: 0.25em 0.5em;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
    background-color: var(--button-light);
    color: var(--text);
    transition-property: box-shadow transform;
    transition-duration: 0.2s;
    margin-left: 1em;
}

.button:hover, .button:focus {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 4px;
}

.button-add, .button-save {
    color: var(--button-light);
    background-color: var(--button-yes);
}

.button-add::before, .button-save::before, .button-remove::before {
    display: inline-block;
    margin-right: 0.25em;
}

.button-remove {
    color: var(--button-light);
    background-color: var(--button-no);
}

.button-download {
    color: var(--button-light);
    background-color: var(--button-fn);
}