html {
    --text: #333;
    --background: rgb(255, 225, 227);
    --button-light: #fefefe;
    --button-yes: rgb(93, 182, 130);
    --button-no: rgb(160, 50, 61);
    --button-fn: #333;
    --green: rgb(93, 182, 130);
    --titles: "Lydian", "Georgia", serif;
    --body: "Fira Mono", monospace;
    --util: "Helvetica Neue", "Arial", sans-serif;
    background-color: var(--background);
}

.button-wrap {
    text-align: right;
}

@media print {
    .hide-in-print {
        display: none;
    }
}