.text-input-wrap {
    margin-bottom: 2em;
}

.label-text, .input-text {
    display: block;
    color: var(--text);
}

.label-text {
    font-family: var(--titles);
    font-size: 1rem;
}

.input-text {
    width: 100%;
    font-family: var(--body);
    font-size: 1.5rem;
    border: none;
    border-bottom: solid 3px var(--text);
    background-color: transparent;
}