.image-drag-and-drop {
    width: var(--img-dim);
    height: var(--img-dim);
    border-radius: 50%;
    background-color: var(--light);
    font-family: var(--body);
    color: var(--text);
    text-align: center;
    line-height: var(--img-dim);
    background-size: cover;
    background-position: center;
}